@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Bebas+Neue&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-image: url("../images/fpfaos.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 8rem;
}

.second-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.store-icon {
    height: 40px;
    max-width: 135px;
    vertical-align: middle;
}

.header-buttons {
    padding: 1px 6px !important;
}

.header-icons {
    font-size: 1.3rem;
}
